@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.App{
    background-color: hsl(218, 23%, 16%); width: 100vw; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20%;
    align-items: center;
    font-family: 'Manrope';
}

@media screen and (min-width: 600px) {
    .App{
        gap: 25%;
    }
}

@media screen and (min-width: 1000px) {
    .App{
        gap: 20%;
    }
}